app-head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

nav {
    -webkit-box-shadow: 1px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 6px 5px 0px rgba(0,0,0,0.75);
}

.bg-index-food {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}