<nav id="mainNav" class="navbar navbar-toggleable-sm navbar-inverse bg-primary mb-3">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="flex-row d-flex">
      <a class="navbar-brand" href="" title="Food Store">Food Store</a>
  </div>
  <div class="navbar-collapse collapse justify-content-end" id="collapsingNavbar">
      <ul class="navbar-nav">
          <li>
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
              </form>
            </li>
          <li class="nav-item">
              <a class="nav-link" href="">Tienda<i class="fa fa-fw fa-shopping-cart"></i></a>
          </li>          
      </ul>
  </div>
</nav>