<header>
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="text title">Food Store</h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-11 col-lg-8">
        <div class="row justify-content-md-center bg-index-food">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label for="exampleSelect1">Categorias</label>
              <select class="form-control" id="exampleSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label for="exampleSelect1">Estado</label>
              <select class="form-control" id="exampleSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label for="exampleSelect1">Productos</label>
              <select class="form-control" id="exampleSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-12 text-center">
        <div class="btn-reversi intro">
          <h3>Buscar</h3>
        </div>
      </div>
    </div>
  </div>
</header>